/* Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff5e2;
}

.wrapper {
    background-color: #fff;
    max-width: 700px;
    height: 100vh;
}

/* Header */
header {
    background-color: #fdbb40;
    height: 100px;
    position: relative;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0 0 30px;
}

.img-box {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(45%, -10%);
}

.img-box img {
    width: 180px;
    height: auto;
}

/* Main */
main {
    padding: 35px 0 30px 30px;
    height: calc(100% - 180px);
    overflow: auto;
}

/* Burger name */
#burger-name {
    width: 80%;
    height: 50px;
    border: none;
    cursor: pointer;
}

#burger-name::placeholder {
    height: 2px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #000;
    opacity: 1;
}

.ingredients {
    width: 100%;
}

.ingredients h2 {
    margin: 25px 0 20px;
}

/* Ingredients */
.list {
    display: flex;
    justify-content: space-between;
}

.list ul {
    flex-basis: 50%;
}

.list li {
    list-style: none;
    margin: 15px 0;
}

.list img {
    width: 15%;
    vertical-align: middle;
}

.list label {
    font-weight: 600;
    margin-left: 20px;
}

.add-color {
    color: #d33359;
}

/* Discount coupon */
.discount {
    padding: 30px 0;
}

.discount label {
    font-weight: 600;
}

.discount input {
    width: 60%;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    padding: 2px 0 2px 5px;
}

#coupon::placeholder {
    background-color: #fdbb40;
    height: 20px;
}

/* Button */
.calculate {
    text-align: center;
    margin-bottom: 15px;
}

#calculate {
    width: 100px;
    height: 35px;
    font-weight: 600;
    background-color: #fdbb40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #d33359;
    font-size: 25px;
    font-weight: 700;
    height: 80px;
    padding: 0 30px;
}