/* Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff5e2;
}

.wrapper {
    background-color: #fff;
    max-width: 700px;
    height: 100vh;
}

/* Header */
header {
    background-color: #fdbb40;
    height: 100px;
    position: relative;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0 0 30px;
}

.img-box {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(45%, -10%);
}

.img-box img {
    width: 180px;
    height: auto;
}

/* Main */
main {
    padding: 35px 0 30px 30px;
    height: calc(100% - 180px);
}

.ingredients {
    max-width: 70%;
}

#burger-name {
    width: 80%;
    height: 50px;
    border: none;
}

#burger-name::placeholder {
    height: 2px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #000;
    opacity: 1;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list li {
    list-style: none;

}

.calculate {
    text-align: center;
}
/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #d33359;
    font-size: 25px;
    font-weight: 600;
    height: 80px;
    padding: 0 30px;
}